.qrcode-main{
    width: 306px;
    height: 168px;
    padding: 0 5px;
    position: relative;
    border:1px solid rgb(244,244,244);
    overflow: hidden}
.qrcode-main .qrcode-img{
    position: absolute;
    padding: 8px;
    left: 0;
    border:1px solid rgb(244,244,244);
}
.qrcode-main .qrcode-help{
    position: absolute;
    background-image: url("../images/phone-orange.png");
    background-repeat: no-repeat;
    width: 148px;
    height: 168px;
    right: -7px;
    display: none;
}
.login-box{
    width: 316px;
    height: 168px;
}
.center{
    margin: 0 auto;
}
.login-box .login-item{
    margin-bottom: 20px;
    box-sizing: border-box;
    border:1px solid rgb(187,187,187);
    width: 100%;
    height:40px;

}
input:-webkit-autofill{
    background-color: #fff;
}
.login-box .login-item input{
    border:none;
    height: 36px;
    width: 275px;
    outline: none;
    text-indent: 1.2em;
}
.login-box .login-item label{
    display: block;
    float: left;
    width: 38px;
    height: 38px;
    background-image: url("../images/pwd-icons-new.png");
    background-repeat: no-repeat;
    border-right:1px solid rgb(187,187,187);
}
.login-box .login-item:first-child label{
    background-position: 0 0;
}
.login-box .login-item:last-child label{
    background-position: -48px 0;
}
.deltext:hover{
    cursor: pointer;
    background-position: -50px -143px;
}
.deltext{
    width: 15px;
    height:15px;
    background-image: url("../images/pwd-icons-new.png");
    background-repeat: no-repeat;
    float: right;
    position: relative;
    bottom:50%;
    margin-top: -7.5px;
    margin-right: 5px;
    background-position: -25px -143px;
    display: none;
}
.title{
    width: 316px;
    height:50px;
    position: relative;
}
.title span{
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    padding: 0 39px;
}
.title span:hover{
    color: rgb(228, 57, 60);
    font-weight: bold;
    cursor: pointer;
}
.title .line{
    position: absolute;
    border-right: 1px solid rgb(187,187,187);
    height:20px;
    left:50%;
    top:50%;
    margin-top: -10px;
}
.current{
    color:rgb(228, 57, 60);
    font-weight:bold;
}